header{
    position: fixed;
    height: 10%;
    top: 1%;
    width: 99%;
    background-color: rgb(0, 85, 127);
    text-align: center;
    border-radius: 150px;
}

header h1{
    font-size: 30px;
    line-height: 8px;
    color: antiquewhite;
}

nav{
    position: fixed;
    float:left;
    margin-top: 60px;
    width: 200px;  
    background-color: darkgoldenrod;
    height: calc(100vh - 80px);
    border-radius: 15%;
    
    /*
    comentario
    */
}

main{
margin-top: 55px;
float: right;
width: calc(100vw - 230px);
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
}

